@tailwind base;
@tailwind components;
@tailwind utilities;

@import './customWalletStyles.css';

/* body {
  cursor: url("./assets/cursor.svg"), auto;
} */
@font-face {
  font-family: "JetBrains Mono";
  src: url("../src/assets/fonts/JetBrainsMono-Bold.ttf") format("opentype");
}

.coming-soon-shadow {
  box-shadow: 0 0 20px #ffffff;
}
.anti-coming-soon-shadow {
  box-shadow: none;
}

.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: scroll 50s linear infinite;
}

.marquee-content {
  display: inline-block;
}

.marquee-item {
  display: inline-block;
  padding: 0 2rem;
}

.pump-card {
  position: relative;
  display: flex;
  height: 112px;
  width: 100%;
  align-items: center;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(30 32 37/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(16 16 20/var(--tw-bg-opacity));
  padding: 1.25rem .75rem;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee-container.right .marquee {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
