@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  cursor: url("./assets/cursor.svg"), auto;
} */
@font-face {
  font-family: "JetBrains Mono";
  src: url("../src/assets/fonts/JetBrainsMono-Bold.ttf") format("opentype");
}

.coming-soon-shadow {
  box-shadow: 0 0 20px #ffffff;
}

.anti-coming-soon-shadow {
  box-shadow: none;
}

.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: scroll 50s linear infinite;
}

.marquee-content {
  display: inline-block;
}

.marquee-item {
  display: inline-block;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .pump-card {
    height: 106px;
    border-radius: var(--radius);
    border-width: 1px;
    padding: 1rem;
  }
}

.explore-single-item{
  gap: 1rem !important;
}

.pump-card {
  /* display: flex; */
  width: 100%;
  max-width: 100%;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  height: max-content !important;
}

.pump-card * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.marquee-container.right .marquee {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}